mmengine
timm
open3d-python
opencv-python-headless
easydict
fvcore
einops
torchmetrics==0.7.0
spconv-cu113
natten==0.14.6+torch1101cu113 -f https://shi-labs.com/natten/wheels
pytorch-lightning==1.7.0
setuptools==59.5.0